body {
	font-family: 'Open Sans', sans-serif;
}
.margin-top-10 {
	margin-top: 10px;
}

.float-right {
  float: right;
}

.float-clear {
   clear: both;
}

.logo-bar {
	background-image: url('../img/logo_with_text_250.png');
	width: 100%;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

}

.logo-bar .logo-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 15px;
}

.nav a {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav .row {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	margin-left: 0px;
}

.menu-divider {
  float: right;
  width: 16px;
  height: 16px;
  font-size: 26px;
  margin: -10px;
  color: #777;
  font-style: bold;
}


.jumbotron {
  background-image:url('../img/grad.jpg');
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.jumbotron h2 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.main-area {
	margin-top: 10px;
}

.main-area .gallery {
	border: 1px solid #555;
	text-align: center;
	background-color: #eee;
	margin: 10px;
}

.main-area .col-md-6 h3 {
  border-bottom: 2px solid #777;
  position: relative;
  margin-bottom: 30px;
}

.main-area .col-md-6 h3 span {
  position: absolute;
  background: #fff;
  padding: 0 5px;
  bottom: -13px;
  font-size: 22px;
  line-height: 26px;
  margin-left: 30px;
}

/*.main-area .col-md-6 h3:before {
  content: url("../img/left.png");
  position: absolute;
  left: 0;
}

.main-area .col-md-6 h3:after {
  content: url("../img/right.png");
  position: absolute;
  right: 0;
}

*/
/*.main-area .col-md-6 h3:after {
    display: inline-block;
    margin: 0 5px 0px 10px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #444;
    width: 13%;
}*/


/*.main-area .col-md-6 h3:before {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 40px;
}
*/
.sale-item {
	display: inline-block;
	margin: 5px;
  padding: 5px;
  width: 120px;
  height: 180px;
  border-radius: 5px;
	vertical-align: top;
  border: 1px solid #ccc;
  text-align: center;
}

.sale-item img {
	margin-bottom: 5px;
}

.sale-item p {
	max-width: 100px;
	text-align: center;
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  background-image: url('../img/logo_trans_120.png');
  background-position: center;
  background-repeat: no-repeat;
}

