{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper"> 
        <div class="reg-form">
           {{ form_start(form) }}
           {{ form_widget(form) }}
           {{ form_end  (form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    .reg-form {
        width:400px;
        background-color: #ddd;
        margin:auto;
        margin-top:50px;
        border-radius:5px;
        padding:20px;
    }
    .reg-button {
        margin-top: 15px;
    }
    .dob-form-control select {
        display: inline-block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>
{% endblock %}

{% block javascripts %}

{% endblock %}